### GENERAL MANDATORY OPTIONS

# BOTNAME is also used as nick by the IRC connector
BOTNAME=YOUR_BOT_NAME
NOVEL_AI_API_KEY=YOUR_NOVELAI_API_KEY_HERE

### GENERAL OPTIONAL OPTIONS

# TRANSLATION_FILE will load the translation file under `./translations/aiPersonality/${BOTNAME}/${TRANSLATION_FILE}.json`
TRANSLATION_FILE=en-EN
LMI_PORT=3000
UNIQUE_CHANNEL=custom

### OPTIONAL BOOLEAN TOGGLES (only work when set to true)

ENABLE_CUSTOM_AI=true
ENABLE_AUTO_ANSWER=true
ENABLE_TTS=true
ENABLE_DM=true
ENABLE_INTRO=true

### MANDATORY IRC CONFIGS

REALNAME=irc_real_name
PASSWORD=your_super_secured_irc_password

### MANDATORY DISCORD CONFIGS

TOKEN=PUT_BOT_DISCORD_TOKEN_HERE

### OPTIONAL DISCORD CONFIGS

# GOOGLE_APPLICATION_CREDENTIALS is the path to your google api json file used for the TTS API
GOOGLE_APPLICATION_CREDENTIALS="./google_api.json"
