# You need to generate an API key for NovelAI, see readme (all active sub tiers should work)
NOVEL_AI_API_KEY=YOUR_NOVELAI_API_KEY_HERE
# Put TOKEN_LIMIT to 1024 if you have a Tablet sub tier, 2048 otherwise
TOKEN_LIMIT=2048

# Optional, only for danbooru command, you need to register to danbooru and generate an api key in user settings
DANBOORU_LOGIN=YOUR_DANBOORU_LOGIN
DANBOORU_API_KEY=YOUR_DANBOORU_API_KEY

### MANDATORY IRC CONFIGS (useless on discord, you can ommit them if using discord)

IRC_SERVER=irc.libera.chat

# GOOGLE_APPLICATION_CREDENTIALS is the path to your google api json file used for the TTS API
# It's optional, but required if you want TTS features
GOOGLE_APPLICATION_CREDENTIALS="./google_api.json"
