fastapi[all]
uvicorn[standard]
python-jose[cryptography]
asyncpg
pydantic
alembic
sqlalchemy
bitsandbytes-cuda113
numpy
transformers
bcrypt
passlib
ngrok
nest-asyncio
git+https://github.com/harubaru/mkultra.git
